.footer {
    background-color: #004b70;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .footer-links {
    margin-top: 10px
  }
  
  .footer-links a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold;
  }
  
  .footer-links a:hover {
    color: #00bcd4;
    text-decoration: underline; 
  }

  /* Hacer que la página ocupe toda la altura */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  /* Asegurarse de que el contenido crezca dinámicamente */
  .content {
    flex: 1;
  }
  
  