/* Estilos generales para el componente */
.text-primary {
  color: #1e3d58 !important; /* Azul oscuro para el título principal */
}

.text-muted {
  font-size: 1.1rem; /* Texto más grande para una lectura más cómoda */
}

.greeting-text {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.role-text {
  font-size: 1.25rem;
  color: #7f8c8d;
}

.service-icon {
  transition: transform 0.3s ease-in-out;
  border-radius: 50%; /* Para darle una forma circular a los íconos */
  padding: 15px; /* Espaciado dentro del círculo */
  border: 3px solid #ecf0f1; /* Borde sutil alrededor del ícono */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.service-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

h4 {
  font-size: 1.3rem;
  color: #34495e;
}

.lead {
  font-size: 1.2rem;
  color: #34495e;
}

.row .col-md-4 {
  margin-bottom: 30px;
}

/* Fondo y bordes para las tarjetas de servicio */
.card {
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor de la tarjeta */
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Agregar bordes a los servicios */
.service-card {
  border: 2px solid #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
